<div class="consentBanner closed">
  <span class="consentBanner-message">{{localePlugin("consentBanner_message")}}</span>
  <div class="consentBanner-container">
    <button class="consentBanner-allowAll">{{localePlugin("consentBanner_allowAll")}}</button>
    <button class="consentBanner-personalize">{{localePlugin("consentBanner_personalize")}}</button>
  </div>
  <div class="consentBanner-container">
    <button class="consentBanner-privacyPolicy"><a target="_blank" href="{{privacyUrl}}">{{localePlugin("consentBanner_privacyPolicy")}}</a></button>
    <button class="consentBanner-rejectAll">{{localePlugin("consentBanner_continue")}} ></button>
  </div>
    
</div>
